.at-autocomplete {
	display: block;
}
.at-autocomplete-suggestion {
	padding: 0 0;
	border-radius: $--border-radius-small;
	box-shadow: $--box-shadow-base;
	border: 0;
	&--hide-arrow {
		.popper__arrow {
			display: none;
		}
	}

	&[x-placement^='bottom'] {
		margin-top: 5px;
	}
	&[x-placement^='top'] {
		margin-bottom: 5px;
	}
	.el-autocomplete-suggestion__wrap {
		padding: 0;
	}
	
	&.is-loading {
		li {
			display: flex;
			align-items: center;
			justify-content: center;
			line-height: normal;
		}
	}
	li {
		line-height: 32px;
		padding: 0 12px;
		transition: background-color 300ms ease;
		color: $--color-text-primary;
		&:hover {
			background-color: $--color-b1;
			color: $--color-text-primary;
		}
	}
}