.at-loading-spinner {
	top: auto;
	position: static;
	margin-top: 0;
	width: auto;
	.path-bg {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: 0;
		stroke-width: 3;
		stroke: $--color-b1;
		stroke-linecap: round;
	}
	.path {
		stroke-width: 3;
	}

	.at-loading-text {
		margin: 3px 0 0 0;
	}

	&.horizontal {
		display: flex;
		justify-content: center;
		align-items: center;

		.at-loading-text {
			margin-left: 12px;
			margin-top: 0;
		}
	}
}
.at-loading-mask {
	display: flex;
	align-items: center;
	justify-content: center;
}

.at-loading-mask.is-static {
	position: static;
	overflow: hidden;
	.at-loading-spinner {
		position: static;
		margin-top: 0;
	}
}

.at-loading-mask.is-fullscreen {
	z-index: 2001;
}