.at-progress {
	.el-progress__text {
		font-weight: 500;
		color: $--color-primary;
		i {
			font-family: antaicons !important;
			&.el-icon-check,
			&.el-icon-circle-check {
				&:before {
					content: '\e66a';
				}
			}
			&.el-icon-close,
			&.el-icon-circle-close {
				&:before {
					content: '\e659';
				}
			}
			&.el-icon-warning {
				&:before {
					content: '\e6a1';
				}
			}
		}
	}
	.el-progress-bar {
		&__outer {
			background-color: $--border-color-extra-light;
		}
		&__innerText {
			font-weight: 500;
		}
	}
}