

.at-progress {
	.el-progress__text {
		font-weight: 500;
		color: $--color-primary;
		i {
			&.el-icon-check,
			&.el-icon-circle-check {
				@include at-icon-check-circle();
			}
			&.el-icon-close,
			&.el-icon-circle-close {
				@include at-icon-close-circle();
			}
			&.el-icon-warning {
				@include at-icon-warning();
			}
		}
	}
	.el-progress-bar {
		&__outer {
			background-color: $--border-color-extra-light;
		}
		&__innerText {
			font-weight: 500;
		}
	}
}
