.at-skeleton {
	font-size: 0;
	.el-skeleton__paragraph {
		margin-top: 12px;
	}
	.el-skeleton__item {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 0;
		background: #f2f3f5;
	}
}
.at-skeleton__item {
	display: block;
	border-radius: 0;
	background: #f2f3f5;
	&.el-skeleton__circle {
		border-radius: 50%;
	}
	&.el-skeleton__text {
		height: 16px;
	}
}