@import './mixins.scss';

.at-textarea {
	width: 240px;
	.el-textarea__inner {
		color: $--color-text-primary;
		border-radius: $--border-radius-small;
		padding: 5px 12px;
		&:focus {
			box-shadow: 0px 0px 4px 0px rgba(10, 42, 97, 0.2);
		}
	}
	&.el-input--small {
		font-size: 14px;
	}
	.el-input__count {
		color: $--color-text-primary;
	}
}

.at-input__inner {
	@include at-input-inner();
}

.at-autocomplete .el-input,
.at-input {
	@include at-input();
}
