

.el-message {
	box-shadow: $--box-shadow-light;
	background-color: $--color-white;
	border-width: 0;
	min-width: 0;
	padding: 14px 20px 14px 14px;
	&__content {
		color: $--color-primary;
	}
	&--info {
		.el-message__content {
			color: $--color-primary;
		}
	}
	&__closeBtn {
		font-size: 12px;
		color: $--color-text-primary;
	}
	&__icon {
		font-size: 13px;
		&.el-icon-info {
			color: $--color-primary;
			@include at-icon-info-circle();
		}
		&.el-icon-success {
			@include at-icon-check-circle();
		}
		&.el-icon-error {
			@include at-icon-close-circle();
		}
		&.el-icon-warning {
			@include at-icon-warning();
		}
	}
}
