
.at-message-box {
	box-shadow: $--box-shadow-base;
	border-radius: $--border-radius-base;
	padding: 0;
	.el-message-box__headerbtn {
		font-size: 12px;
		top: 15px;
		right: 16px;
	}
	.el-message-box__close {
		font-family: antaicons !important;
		&.el-icon-close {
			color: $--color-text-primary;
			top: 18px;
			&:before {
				content: '\e658';
			}
		}
	}
	.el-message-box__status {
		font-family: antaicons !important;
		font-size: 18px !important;
		&.el-icon-info {
			&:before {
				content: '\e666';
			}
		}
		&.el-icon-success {
			&:before {
				content: '\e66a';
			}
		}
		&.el-icon-error {
			&:before {
				content: '\e659';
			}
		}
		&.el-icon-warning {
			&:before {
				content: '\e6a1';
			}
		}
		& + .el-message-box__message {
			padding-left: 30px;
		}
	}
	.el-message-box__title {
		font-size: 14px;
		font-weight: 500;
		color: $--color-text-primary;
		line-height: 20px;
	}
	.el-message-box__header {
		border-bottom: 1px solid $--border-color-base;
		padding: 12px 16px 12px 16px;
	}
	.el-message-box__btns {
		padding: 16px;
	}
	.el-message-box__content {
		padding: 16px 16px 16px 16px;
		color: $--color-text-primary;
		& + .el-message-box__btns {
			padding-top: 0;
		}
	}
}