

.el-notification {
	box-shadow: $--box-shadow-light;
	border-radius: $--border-radius-base;
	border-width: 0;
	padding: 16px 16px 32px 16px;
	width: 480px;
	&__closeBtn.el-icon-close {
		font-size: 12px;
		color: $--color-text-regular;
		@include at-icon-close();
	}
	&__group {
		margin-right: 0;
		margin-left: 0;
	}
	&__title {
		font-size: 14px;
		font-weight: 500;
		color: $--color-text-primary;
		line-height: 20px;
	}
	&__content {
		font-size: 14px;
		font-weight: 400;
		color: $--color-text-regular;
		line-height: 20px;
		margin-top: 16px;
		p {
			line-height: 20px;
		}
	}
	&__icon {
		font-size: 14px;
		width: 14px;
		height: 14px;
		margin: 3px 8px 0 0;
		&.el-icon-info {
			@include at-icon-info-circle();
			color: $--color-primary;
		}
		&.el-icon-success {
			@include at-icon-check-circle();
		}
		&.el-icon-error {
			@include at-icon-close-circle();
		}
		&.el-icon-warning {
			@include at-icon-warning();
		}
	}
}
