.at-dropdown {
	color: $--color-primary;
	.el-dropdown__caret-button {
		padding: 11px;

		&.el-button--medium {
			padding: 10px;
		}
		&.el-button--small {
			padding: 8px;
		}
		&.el-button--mini {
			padding: 4px;
		}
		.el-icon-arrow-down {
			@include at-icon-down();
		}
	}
}
.at-dropdown-menu {
	padding: 0 0;
	border-radius: $--border-radius-small;
	box-shadow: $--box-shadow-base;
	border: 0;
	&--hide-arrow {
		.popper__arrow {
			display: none;
		}
	}

	&[x-placement^='bottom'] {
		margin-top: 5px;
	}
	&[x-placement^='top'] {
		margin-bottom: 5px;
	}
	&__item {
		line-height: 32px;
		padding: 0 12px;
		transition: background-color 300ms ease;
		color: $--color-text-primary;
		&:not(.is-disabled):hover,
		&:focus {
			background-color: $--color-b1;
			color: $--color-text-primary;
		}
		&.el-dropdown-menu__item--divided {
			margin-top: 2px;
			&:before {
				margin: 0 -12px;
				height: 2px;
			}
		}
	}
}
