.at-alert {
	padding: 14px 16px;

	&.is-small {
		padding: 6px 10px;
		.el-alert__description {
			font-size: 12px;
		}
		.el-alert__title {
			font-size: 12px;
		}
		.el-alert__icon {
			// width: 12px;
			// font-size: 12px;
		}
	}

	&.is-big {
		align-items: flex-start;

		&.el-alert--info {
			.el-alert__title {
				color: $--color-primary;
			}
		}
		&.el-alert--success {
			.el-alert__title {
				color: $--color-success;
			}
		}
		&.el-alert--error {
			.el-alert__title {
				color: $--color-danger;
			}
		}
		&.el-alert--warning {
			.el-alert__title {
				color: $--color-warning;
			}
		}
	}
	.el-alert__description {
		font-size: 14px;
		color: $--color-text-regular;
		line-height: 20px;
	}
	.el-alert__title {
		font-size: 14px;
	}
	.el-alert__closebtn {
		&.is-customed {
			color: $--color-text-primary;
			top: 13px;
		}
		&.at-icon-close {
			font-size: 12px;
			color: $--color-text-primary;
			top: 18px;
		}
	}
	.el-alert__icon {
		width: 14px;
		font-size: 14px;
		&:before {
			transform: scale(1);
		}

		&.is-big {
			position: relative;
			top: 2px;
		}
	}

	&.el-alert--info.is-dark,
	&.el-alert--success.is-dark,
	&.el-alert--error.is-dark,
	&.el-alert--warning.is-dark,
	&.el-alert--primary.is-dark {
		color: $--color-white;
		.el-alert__icon {
			color: $--color-white;
		}
		.el-alert__description {
			color: $--color-white;
		}
		.el-alert__closebtn {
			color: $--color-white;
		}
	}
	&.el-alert--primary {
		border: 1px solid $--color-b2;
		border-radius: $--border-radius-small;
		background-color: $--color-b1;
		color: $--color-text-primary;
		.el-alert__icon {
			color: $--color-primary;
		}
		.el-alert__description {
			color: $--color-text-regular;
		}
		&.is-dark {
			background-color: $--color-primary;
			border-color: $--color-primary;
		}
	}
	&.el-alert--info {
		border: 1px solid $--color-info;
		border-radius: $--border-radius-small;
		background-color: rgba($--color-info, 0.08);
		color: $--color-text-primary;
		.el-alert__icon {
			color: $--color-info;
		}
		.el-alert__description {
			color: $--color-text-regular;
		}
		&.is-dark {
			background-color: $--color-info;
			border-color: $--color-info;
		}
	}
	&.el-alert--success {
		border: 1px solid $--color-success;
		border-radius: $--border-radius-small;
		background-color: rgba($--color-success, 0.08);
		color: $--color-text-primary;
		.el-alert__icon {
			color: $--color-success;
		}
		.el-alert__description {
			color: $--color-text-regular;
		}
		&.is-dark {
			background-color: $--color-success;
			border-color: $--color-success;
		}
	}
	&.el-alert--error {
		border: 1px solid $--color-danger;
		border-radius: $--border-radius-small;
		background-color: rgba($--color-danger, 0.08);
		color: $--color-text-primary;
		.el-alert__icon {
			color: $--color-danger;
		}
		.el-alert__description {
			color: $--color-text-regular;
		}
		&.is-dark {
			background-color: $--color-danger;
			border-color: $--color-danger;
		}
	}
	&.el-alert--warning {
		border: 1px solid $--color-warning;
		border-radius: $--border-radius-small;
		background-color: rgba($--color-warning, 0.08);
		color: $--color-text-primary;
		.el-alert__icon {
			color: $--color-warning;
		}
		.el-alert__description {
			color: $--color-text-regular;
		}
		&.is-dark {
			background-color: $--color-warning;
			border-color: $--color-warning;
		}
	}
}
